.SearchBar{
  flex:0 0 100px;
  position: relative;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  width:100%;
}
.SearchBar > .landpage_btn{
  position: absolute;
  top:0;
  left:50%;
  transform:translate(-50%);
  width:50px;
  height:20px;
  border-radius: 0 0 20px 20px;
  background-color:grey;
  z-index:300;
}
.SearchBar_gradient_box{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.SearchBar_gradient{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:140px;
  background-image:linear-gradient(#7966FF,#9EB7FF);
}
.SearchBar_form_container{
  position: absolute;
  width:100%;
  bottom:20px;
  padding:0;
  display: flex;
  justify-content: center;
}
.SearchBar_form{
  display: flex;
  justify-content: center;
  align-items: center;
  width:360px;
  position:relative;
  display:flex;
  justify-content: space-between;
}
.SearchBar_input{
  width:290px;
  height:35px;
  border:none;
  border-radius: 20px;
  outline:none;
  margin-right: 20px;
  padding:3px 15px;
  color:gray;
  font-size:18px;
  transition:all 0.2s ease-out;
}
.SearchBar_input::placeholder{
  color:rgba(0,0,0,0.2);
  font-size:15px;
}
.SearchBar_input:focus{
  width: 100%;
  
}
.SearchBar_button{
  flex-shrink: 0;
  height:38px;
  width:38px;
  background-color:white;
  border-radius: 20px;
  border:none;
  outline:none;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  transition:all 0.2s ease-out;
}
.SearchBar_button > .SearchBar_input_circle{
  height:15px;
  width:15px;
  border:3px solid #7966FF;
  border-radius: 50px;
}
.SearchBar_input:focus + .SearchBar_button{
  margin-left:-58px;
}
.SearchBar_result{
  position: absolute;
  height:100vh;
  width:100%;
  top:100%;
  z-index: 600;
  
}

.SearchBar_overlay{
  background-color:rgba(0,0,0,0.8);
  height:100%;
  width:100%;
}
.SearchBar_result_list{
  max-height:400px;
  width:100%;
  position: absolute;
  top:20px;
  max-width:350px;
  left:50%;
  transform:translateX(-50%)
}
.SearchBar_people{
  position: relative;
  width:100%;
  max-height: 350px;
  background-color:white;
  border-radius: 8px;
  top:0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition:all 0.3s linear;
}


.people_heading{
  flex:0 0 40px;
  background-color:#F1EEFC;
  color:gray;
  display:flex;
  align-items: stretch;
  justify-content: flex-start;
}
.people_heading > .search_option{
  flex-basis: 50%;
  text-align: center;
  padding-top:8px;
  cursor: pointer;
  transition:all 0.2s ease-in-out;
}
.people_heading > .search_option_active{
  background-color:rgb(178, 172, 226);
  color:white;
}
.people_list_box{
  flex-grow:1;
  overflow-y:scroll;
}
.people_list{
  list-style-type: none;
  padding-left:0;
  margin-bottom:0;
}
.people_list_box::-webkit-scrollbar{
  width:3px;
}
.people_list_box::-webkit-scrollbar-thumb{
  width:3px;
  background-color:rgba(0,0,0,0.5);
}
.people{
  font-size:16px;
  padding-left:10px;
  margin-bottom:10px;
  height:45px;
  color:gray;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.people .name:before{
  content:'';
  height:25px;
  width:25px;
  border-radius:10px;
  position: relative;
  display:inline-block;
  margin-right:15px;
  margin-left:2px;
  top:5px;
  background-color:rgba(217, 225, 246, 0.65);
}
.people .skill{
  margin-right:15px;
  color:white;
  padding:3px 10px;
  border-radius: 30px;
  font-size:15px;
  position: relative;
  top:5px;
  width:60px;
  text-align: center;
}

.people .skill-backend{
  background-color:#78B2F1;
}
.people .skill-frontend{
  background-color:#EFC283;
}
.people .skill-graphics{
  background-color:#C295E1;
}
.people .skill-mobile{
  background-color:#86EFC3;
}
.SearchBar_form_container:focus-within + .SearchBar_result{
  visibility: visible;
}

.SearchBar_term{
  position: absolute;
  top:100%;
  z-index:500;
  background-color:#7966FF;
  padding:5px 20px;
  color:white;
  left:50%;
  transform:translateX(-50%);
  border-radius:0 0 6px 6px;
  font-size:12px;
  width:max-content;
  box-shadow: inset 0 -1px 10px rgba(0,0,0,0.1);
}



/*css transitions -- overlay_fade-- */
.overlay_fade-enter{
  opacity:0;
}
.overlay_fade-enter-active{
  opacity:1;
  transition:opacity 300ms ease-in-out;
}
.overlay_fade-exit-active{
  opacity:0;
  transition:opacity 300ms ease-in-out;
}

/*---flip search---*/
.search_flip-enter{
  opacity: 0;
}
.search_flip-enter-active{
  opacity: 1;
  transition:opacity 300ms ease-in-out;
}
.search_flip-exit-active{
  opacity: 0;
  transition:opacity 300ms ease-in-out;
}



@media only screen and (min-width:900px){
  .SearchBar{
    flex-basis: 160px;
  }
  .SearchBar_term{
    top:120px;
  }
  .SearchBar_gradient{
    height:200px;
  }
  .SearchBar_form_container{
    bottom:95px;
    justify-content: flex-end;
    max-width: 1100px;
    left:50%;
    transform: translateX(-50%);
    
    box-sizing: border-box;
  }
  .SearchBar_form{
    width:450px;
  }
  .SearchBar_input{
    width:350px;
  }
  .SearchBar_result{
    width:100%;
    top:120px;
    max-width: 1150px;
    left:50%;
    transform: translateX(-50%);
  }
  .SearchBar_overlay{
    background-color:rgba(0,0,0,0.8);
    height:100%;
    width:1150px;
    position: relative;    
    margin:0px auto;
    border-radius: 15px 15px 0 0;
    left:50%;
    transform:translateX(-50%)
  }
  .SearchBar_result_list{
    height:400px;
    width:100%;
    position: absolute;
    top:-40px;
    max-width:445px;
    left:auto;
    right:30px;
    transform:translateX(0)
  }
}

@media only screen and (max-width:380px){
  .SearchBar_form{
    width:310px;
  }
}